<%= form_with model: sketch do |form| %>
  <% if @sketch.errors.any? %>
    <div id="error_explanation">

      <ul>
        <% sketch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      
    </div>
  <% end %>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div>
    <%= form.label :challenge_id %>
    <% if @challenge_id.present? %>
      <%= form.collection_select :challenge_id, Challenge.all, :id, :title, { selected: @challenge_id }, promt: true %>
    <% else %>
      <%= form.collection_select :challenge_id, Challenge.all, :id, :title, prompt: true %>
    <% end %>
  </div>

  <div class="sketch-form-submit">
    <%= form.submit %>
  </div>
<% end %>
