<%= form_with model: sketch do |form| %>
  <% if @sketch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sketch.errors.count, "error") %> prohibited this sketch from being saved:</h2>

      <ul>
        <% sketch.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  
  <div>
    <%= form.label :challenge_id %>
    <%= form.collection_select :challenge_id, Challenge.all, :id, :title, prompt: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
