<div class="background-section">
  <div class="appeal">
    <h2>Participate in our weekly sketch contests, 
    challenge your artistic skills, 
    and let the community vote for their favorite piece!<h2>
  </div>

  <h3 class="new-sketch-button">
    <%= link_to "New Sketch", new_sketch_path %>
  </h3>
</div>
  
<div class="sketches">   
  <% @sketches.take(9).each do |sketch| %>
    <% if sketch.image.present? %>
      <a href="/sketches/<%= sketch.id %>">
        <%= image_tag sketch.image %>
      </a>
    <% else %>
      <a href="/sketches/<%= sketch.id %>">
        Image not found for sketch id: <%= sketch.id %>
      </a>
    <% end %>
  <% end %>
</div>
