<h1>Sketches</h1>
<h2>Nothing. Because I can't do anything<h2>
   <% @sketches.each do |sketch| %>
      <li>
        
        <% if sketch.image.present? %>
          <a href="/sketches/<%= sketch.id %>">
            <%= image_tag sketch.image, size: '200x200' %>
          </a>
        <% else %>
          <a href="/sketches/<%= sketch.id %>">
            Image not found for sketch id: <%= sketch.id %>
          </a>
        <% end %>
      </li>
    <% end %>
    <%= link_to "New Sketch", new_sketch_path %>

    