<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<header>

  <div class="nav">
    <% if current_user %> 
      <ul> 
        <li><%= current_user.email %></li> 
        <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
      </ul> 
    <% else %> 
      <ul> 
        <li><%= link_to "Login", 'login' %></a></li> 
        <li><%= link_to "Signup", 'signup' %></a></li> 
      </ul> 
    <% end %>
  <div>

  <div>
    <h1>Rapid-rendition</h1>
    <h2>Participate in our weekly sketch contest, challenge your artistic skills, and let the community vote for their favorite piece!<h2>
  </div>

</header>

<h3>
  <%= link_to "New Sketch", new_sketch_path %>
</h3>

<div class="sketches">   
  <% @sketches.each do |sketch| %>
    <% if sketch.image.present? %>
      <a href="/sketches/<%= sketch.id %>">
        <%= image_tag sketch.image %>
      </a>
    <% else %>
      <a href="/sketches/<%= sketch.id %>">
        Image not found for sketch id: <%= sketch.id %>
      </a>
    <% end %>
  <% end %>
  
</div>
    