<header>
  <h1><%= @sketch.challenge.title %></h1>
</header>

<div class=sketch>
  <% if @sketch.image.present? %>
   <%= image_tag @sketch.image%>
  <% else %>
      Image not found for sketch id: <%= @sketch.id %>
  <% end %>
</div>

<% if @sketch.user == current_user %>
  <ul>
    <li><%= link_to "Edit", edit_sketch_path(@sketch) %></li>
    <li><%= link_to "Destroy", sketch_path(@sketch), data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %></li>
  </ul>
<% end %>

<div>
  <h2>Votes</h2>
  <%= form_with(model: [@sketch, @sketch.votes.build], local: true) do |form| %>
    <%= form.hidden_field :value, value: 1 %>
    <%= button_tag(type: "submit", class: "vote-button") do %>
      <%= image_tag("vote-for.png", alt: "Vote for") %>
    <% end %>
  <% end %>
</div>

<script>
  const button = document.querySelector('.vote-button');
  const img = button.querySelector('img');
  const hasVoted = localStorage.getItem('hasVoted');
  if (hasVoted) {
    button.classList.add('voted');
    img.classList.add('voted');
  }
  button.addEventListener('click', (event) => {
    event.preventDefault();
    if (hasVoted) {
      return;
    }
    button.classList.add('voted');
    img.classList.add('voted');
    localStorage.setItem('hasVoted', true);
  });
</script>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% elsif flash[:success] %>
  <div class="alert alert-success">
    <%= flash[:success] %>
  </div>
<% end %>
