<header>
  <h1>Challenge</h1>
</header>

<div class=sketch>
  <% if @sketch.image.present? %>
   <%= image_tag @sketch.image%>
  <% else %>
      Image not found for sketch id: <%= @sketch.id %>
  <% end %>
</div>

<ul>
  <li><%= link_to "Edit", edit_sketch_path(@sketch) %></li>
  <li><%= link_to "Destroy", sketch_path(@sketch), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<div>
  <h2>Votes</h2>
  <%= form_with(model: [@sketch, @sketch.votes.build], local: true) do |form| %>
    <%= form.hidden_field :value, value: 1 %>
    <%= form.submit "+" %>
  <% end %>

  <%= form_with(model: [@sketch, @sketch.votes.build], local: true) do |form| %>
    <%= form.hidden_field :value, value: -1 %>
    <%= form.submit "-" %>
  <% end %>
</div>
