<div class="sketch-container">
  <div class=sketch>
    <% if @sketch.image.present? %>
      <%= image_tag @sketch.image%>
    <% else %>
        Image not found for sketch id: <%= @sketch.id %>
    <% end %>
  </div>

  <div class="sketch-info">

    <h1>Challenge: <%= link_to @sketch.challenge.title, challenge_path(@sketch.challenge) %></h1>
    <p>Author: <%= @sketch.user.full_name %></p>
    <p>Place in current competition: <%= @sketch.position_in_rankings %></p>

    <div class="sketch-buttons">
      <% if @sketch.user == current_user %>
          <ul>
          <div class="sketch-edit-button">  
            <li><%= link_to "Edit", edit_sketch_path(@sketch) %></li>
          </div>
          <div class="sketch-delete-button">
            <li><%= link_to "Delete", sketch_path(@sketch), data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          } %></li>
          </div>
        </ul>
      <% end %>
    </div>

  </div>
</div>
