<%= form_for(:session, url: login_path) do |f| %> 
    <% flash.each do |key, value| %>
        <div id="error_explanation">
            <ul>
                <li>
                    <%= value %>
                <li>
            <ul>
        </div>
    <% end %>

    <div class="form-field">
        <%= f.email_field :email, :placeholder => "Email", class: "form-input" %>
    </div>
    <div class="form-field">
        <%= f.password_field :password, :placeholder => "Password", class: "form-input" %>
    </div>
    <div class="form-field">
        <%= f.submit "Log in", class: "btn-submit" %>
    </div>
<% end %>
