<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-field">
      <%= f.text_field :first_name, :placeholder => "First name", class: "form-input" %>
    </div>
    <div class="form-field">
      <%= f.text_field :last_name, :placeholder => "Last name", class: "form-input" %>
    </div>
    <div class="form-field">
      <%= f.email_field :email, :placeholder => "Email", class: "form-input" %>
    </div>
    <div class="form-field">
      <%= f.password_field :password, :placeholder => "Password", class: "form-input" %>
    </div>
    <div class="form-field">
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-input" %>
    </div>
    <div class="form-field">
      <%= f.submit "Create an account", class: "btn-submit"%>
    </div>
<% end %>
