<div class="user-welcome">
  <h1>Welcome, <br><%= current_user.full_name %></h1>
  
  <div class="sketch-count">
    <p>Sketches: <strong><%= @sketch_count %></strong></p>
  </div>

  <div class="new-sketch-button-user-page">
    <%= link_to "New Sketch", new_sketch_path %>
  </div>

<div class="delete-account-button">
  <%= link_to(user_path(@user), data: { turbo_method: :delete, turbo_confirm: "If you delete your account, all the sketches you have uploaded will also be deleted. Are you sure you want to delete your account?" }) do %>
    <%= image_tag("delete.png", alt: "Delete Icon", class: "delete-icon") %>
  <% end %>
</div>

  
</div>

<h2 class="your-sketches">Your Sketches</h2>
<div class="sketches-for-voting">
  <% @user.sketches.each do |sketch| %>
    <div class="challenge-sketches-container">
      <a href="/sketches/<%= sketch.id %>">
        <%= image_tag sketch.image %>
      </a>
      <p class="your-sketch-caption">Challenge: <%= link_to sketch.challenge.title, challenge_path(sketch.challenge) %></p>
    </div>
  <% end %>
</div>
  
