<div class="vote-section">
  <h1>Vote for Sketches You Like</h1>
  <p>Sketches for Challenge: "<%= @challenge.title %>"</p>
  <div class="header-line"></div>
</div>

<turbo-frame id="sketch-votes-frame">
  <div class="sketches-for-voting">
    <% @sketches.each do |sketch| %>
      <div class="challenge-sketches-container" data-sketch-id="<%= sketch.id %>">
        <%= image_tag sketch.image %>
        <div class="sketch-vote">
          <%= render partial: "votes/vote_button", locals: { sketch: sketch } %>
        </div>
      </div>
    <% end %>
  </div>
</turbo-frame>

<script>
  document.addEventListener('turbo:load', function() {
    var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    document.addEventListener('click', function(event) {
      var voteButton = event.target.closest('.vote-button');
      if (voteButton) {
        event.preventDefault();

        var isLoggedIn = <%= current_user.present? %>;

        if (!isLoggedIn) {
          window.location.href = '/login';
          return;
        }

        var action = voteButton.dataset.url;
        var method = voteButton.classList.contains('voted') ? 'DELETE' : 'POST'; // Toggle between POST and DELETE
        
        fetch(action, {
          method: method,
          headers: {
            'X-CSRF-Token': csrfToken,
          },
        }).then(response => {
          if (response.ok) {
            voteButton.classList.toggle('voted');
            
            // Update the button's HTML based on the voting state
            var imageTag = method === 'POST' ? '<%= image_tag("vote-for.webp", alt: "Vote for", class: "voted") %>' : '<%= image_tag("vote-for.webp", alt: "Vote for") %>';
            var buttonText = method === 'POST' ? 'Remove Vote' : 'Vote';
            voteButton.innerHTML = imageTag + '<span>' + buttonText + '</span>';
            
            // Update the data-url attribute for the button based on the new action
            var newAction = method === 'POST' ? action + '/1' : action.replace('/1', '');
            voteButton.dataset.url = newAction;
          } else {
            console.error('An error occurred:', error); 
          }
        }).catch(error => {
          console.error('An error occurred:', error);
        });
      }
    });
  });
</script>
