<!DOCTYPE html>
<html>
  <head>
    <title>RapidRendition</title>
    <meta name="description" content="The web app for art sketching competitions">
    <meta name="keywords" content="sketches, drawing, art, sketching challenges, artist, gallery">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="Rapid Rendition">
    <meta property="og:description" content="An online platform for art sketching competitions">
    <meta property="og:image" content="https://raw.githubusercontent.com/Misofser/rapid-rendition/main/screenshots/Screenshot1.png">
    <meta property="og:url" content="http://rapidrendition.art/">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="/assets/favicon.png">

  </head>

  <body>
    <turbo-frame id="nav-frame">
      <header>
        <nav class="navbar"> 
          <div class="burger" id="burger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
          </div>
          
          <div class="main-information"> 
            <a href="<%= root_path %>">
              <h1>Rapid Rendition</h1>
            </a>
          </div> 
  
          <div class="nav-links">
            <div class="nav-block">
              <ul>
                <li class="<%= current_page(root_path) %>"><%= link_to "Home", root_path %></li>
                <li class="<%= current_page(challenges_path) %>"><%= link_to "Challenges", challenges_path %></li>
              <% if current_user %>
                  <li><%= link_to current_user.full_name, user_path(current_user) %></li>
                  <li class="<%= current_page(logout_path) %>"><%= link_to "Log out", logout_path, method: "delete" %></li>
              <% else %>
                  <li class="<%= current_page(login_path) %>"><%= link_to "Login", login_path %></li>
                  <li class="<%= current_page(signup_path) %>"><%= link_to "Signup", signup_path %></li>
                </ul>
              <% end %>
            </div>
          </div>
          
        </nav>
      </header>
    </turbo-frame>

     <script>
      document.addEventListener('turbo:load', function() {
        console.log("Turbo Load");
      
        var burgerElement = document.getElementById('burger');
        var navbarElement = document.querySelector('.navbar');
        var navLinks = document.querySelector('.nav-links'); 
      
        console.log("Burger Element:", burgerElement);
      
        burgerElement.addEventListener('click', function() {
          console.log("Burger Clicked");
          navbarElement.classList.toggle('active');
          navLinks.classList.toggle('active'); 
        });
      });
    </script>

    <main>
      <%= render 'shared/demo_banner' if show_demo_banner? %>
      <%= yield %>
    </main>

    <footer>
      <nav class="footer">
        <ul>
          <li>Contact: <a href="mailto:contact.rapidrendition@gmail.com">contact.rapidrendition@gmail.com</a></li>
        </ul>
      </nav>
    </footer>

  </body>

</html>
